header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    display: flex;
    flex: 1;
    width: 100%;
    height: 32px;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;

    z-index: 5;

}

header h1 {
    font-size: 24px;
}
header p {
    font-size: 12px;
    margin-left: 4px;
    margin-top: 2px;
}

body {
    margin-top: 32px;
}

#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#main a
{
    /* faz com que as decorações de todos os links sejam retiradas: no caso do link, é retirado o estilo sublinhado*/
    color: var(--link-color);
    font-weight: 800;
    text-decoration: underline;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
}

#main p
{
    color: var(--text-color);
    font-family: Montserrat, sans-serif;    
    font-size: 20px;
    line-height: 1.5em;

    margin: 34px 0;
}

#main h1
{
    color: var(--title-color);
    font-family: Open Sans, sans-serif;    
    font-size: 40px;

    font-weight: 600;
}

#main img
{
    max-width: 750px;
    height: 74.07%;
    width: 100%;

    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 9px;

    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}


#main a.button {
    font-weight: 700;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: var(--button-color);
    color: white;

    width: 100%;
    max-width: 360px;
    padding: 25px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

}

div.video {
    margin: auto;
    width: 50%;

    padding-bottom: 48px;
}

div.opacity {
    height: 100%;
    min-height: 290.57px;
    width: 100%;
    z-index: 1;
    background:rgba(0,0,0,0.5);

    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.image-text {
    width: 100%;
    height: 100%;

    max-width: 800px;
    height: 100%;
    padding: 20px;
}

footer#footer {
    background-color: var(--footer-color);
    color: var(--footer-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer#footer div.container {
    max-width: 720px;
    padding: 20px;
    margin: 0;
}

footer#footer p {
    color: var(--footer-text-color);
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-weight: 500;

    margin: 12px 0;
}

footer#footer a {
    color: var(--footer-text-color);
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-weight: 500;

    margin: 12px 0;
}

footer#footer a:hover {
    text-decoration: underline;
    transition: 200ms;
    color: white;
}

footer#footer div {
    color: var(--footer-text-color);
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-weight: 500;

    margin: 12px 0;
}
