header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    display: flex;
    flex: 1;
    width: 100%;
    height: 32px;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;

    z-index: 5;

}

header h1 {
    font-size: 24px;
}
header p {
    font-size: 12px;
    margin-left: 4px;
    margin-top: 2px;
}

body {
    margin-top: 32px;
    background-color: var(--background-color);
}

#wrapper {
    margin: 10px;
}

#main {
    max-width: 1120px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;

    margin-top: 128px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #000000;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

#main p
{
    color: var(--text-color);
    font-family: Montserrat, sans-serif;    
    font-size: 20px;
    line-height: 1.7em;

    margin-top: 34px;
}

#main .text-container
{
    padding: 40px 35px 0 35px;
}

#main h1
{
    color: var(--title-color);
    font-family: Open Sans, sans-serif;    
    font-size: 40px;
    line-height: 2.2rem;
    padding: 30px 10px 0 10px;

    font-weight: 600;
    text-align: center;
}

#main img
{
    max-width: 750px;
    height: 74.07%;
    width: 100%;

    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 9px;

    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);

    margin-top: 48px;
}


#main a.button {
    font-weight: 700;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: var(--button-color);
    color: white;

    width: 100%;
    max-width: 360px;
    padding: 25px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 64px 0 80px 0;
}

div.video {
    margin: auto;
    width: 50%;

    padding-bottom: 48px;
}

div.opacity {
    height: 100%;
    min-height: 290.57px;
    width: 100%;
    z-index: 1;
    background:rgba(0,0,0,0.5);

    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.image-text {
    width: 100%;
    height: 100%;

    max-width: 800px;
    height: 100%;
    padding: 20px;
}

footer#footer {
    background-color: var(--footer-color);
    color: var(--footer-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer#footer div.container {
    max-width: 720px;
    padding: 20px;
    margin: 0;
}

footer#footer p {
    color: var(--footer-text-color);
    font-size: 12px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-weight: 500;

    margin: 12px 0;
}

footer#footer a:hover {
    text-decoration: underline;
    transition: 200ms;
    color: white;
}

footer#footer div {
    color: var(--footer-text-color);
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-weight: 500;

    margin: 12px 0;
}


@media(max-width: 768px){
    #main 
    {
        margin-top: 64px;
        color: red;

    }

    #main h1
    {
        font-size: 35px;
        padding: 15px 5px 0 5px;
    }

    #main .text-container
    {
        padding: 30px 10px 0 10px;
    }

    #main a.button {    
        margin: 64px 0 40px 0;
    }
    
    
}
