:root
{
    /* define as variáveis de cores */
    --footer-color: rgb(7, 23, 74);
    --footer-text-color: #7a7a7a;
    --text-color: #000000;
    --title-color: #0083B4;
    --published-text-color: rgb(255, 255, 255, 0.68);
    --link-color: rgb(2, 90, 203);
    --button-color: #FC8700;
    --background-color: rgb(238,238,238);
}

*
/* aplica essas características para todo o documento */
{
    margin: 0;
    padding: 0;
    /* tamanho da caixa é considerado até a borda, e não até o fim do conteúdo */
    box-sizing: border-box;
}

html
{
    /* font-family: 'Roboto', sans-serif; */
}


body
{
    -webkit-font-smoothing: antialised;
}

p
{
    color: var(--text-color);
    font-family: Montserrat, sans-serif;    
    font-size: 20px;
    line-height: 1.5em;
}

a
{
    /* faz com que as decorações de todos os links sejam retiradas: no caso do link, é retirado o estilo sublinhado*/
    color: var(--link-color);
    font-weight: 800;
    text-decoration: underline;
    font-family: Montserrat, Montserrat, sans-serif;
    font-size: 19px;
    line-height: 1.5em;
}