header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    display: flex;
    flex: 1;
    width: 100%;
    height: 32px;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;

    z-index: 5;
}

body {
    margin-top: 32px;
}

div.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 120px;
}

div.video {
    margin: auto;
    max-width: 720px;
    width: 90%;
    /* min-height: 80vh; */

    padding-bottom: 48px;
}

footer#footer2 {
    background-color: var(--footer-color);
    color: var(--footer-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer#footer2 div.container {
    max-width: 720px;
    padding: 20px;
    margin: 0;
}

footer#footer2 p {
    color: var(--footer-text-color);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 500;

    margin: 12px 0;
}

footer#footer2 a {
    color: var(--footer-text-color);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    text-decoration: none;    
    font-weight: bold;


    margin: 12px 0;
}

footer#footer2 a:hover {
    text-decoration: underline;
    transition: 200ms;
    color: white;
}

footer#footer2 div {
    color: var(--footer-text-color);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 500;

    margin: 12px 0;
}

footer#footer2 p.bold {
    font-weight: bold;
}



